.weui-panel{
  background-color: var(--weui-BG-2);
  margin-top: 10px;
  position: relative;
  overflow:hidden;
}

.weui-panel:first-child{
  margin-top: 0px;
}

.weui-panel__hd{
  padding: 16px 16px 13px;
  color: var(--weui-FG-0);
  font-size: 15px;
  font-weight: 500;
  position: relative;
}