* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 22.4vw;
  background-color: #fff;
}
.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11.73333333vw;
  padding-left: 4.8vw;
  padding-right: 3.2vw;
}
.header .top .left .iconfont {
  font-size: 7.46666667vw;
  color: #fb7299;
}
.header .top .right {
  display: flex;
}
.header .top .right .iconfont {
  font-size: 6.4vw;
  color: #ccc;
}
.header .top .right .login {
  width: 6.4vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
.header .top .right .download {
  width: 19.2vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
.header .bottom {
  height: 10.66666667vw;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}
.header .bottom .more a {
  height: 10.66666667vw;
  width: 10.66666667vw;
  display: block;
  text-align: center;
  line-height: 10.66666667vw;
  color: #ccc;
}
.header .bottom .more a .iconfont {
  font-size: 5.86666667vw;
}
.header .bottom .tab ul {
  display: flex;
}
.header .bottom .tab ul li {
  margin-left: 4.26666667vw;
  margin-right: 4.26666667vw;
  text-align: center;
}
.header .bottom .tab ul li a {
  display: block;
  height: 10.13333333vw;
  line-height: 10.13333333vw;
  font-size: 3.73333333vw;
}
.header .bottom .tab ul li a.current {
  color: #fb7299;
  border-bottom: 2px solid #ccc;
}
.video_content {
  padding: 22.4vw 1.33333333vw 0;
}
.video_content .video_list {
  display: flex;
}
.video_content .video_list a {
  width: 50%;
  padding: 2.13333333vw 1.33333333vw;
  font-size: 3.2vw;
}
.video_content .video_list a .txt {
  margin-top: 1.33333333vw;
}
.video_content .video_list a .pic {
  position: relative;
}
.video_content .video_list a .pic .count {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 2.13333333vw;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}
.video_content .video_list a .pic .count i {
  vertical-align: middle;
}
.bottomer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 2.66666667vw;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.bottomer a {
  font-size: 3.46666667vw !important;
  text-align: center;
}
.bottomer a .iconfont {
  font-size: 6.93333333vw !important;
}
.bottomer a.current {
  color: #ccc;
}
