@font-face {
  font-family: "iconfont"; /* Project id 4163819 */
  src: url('iconfont.woff2?t=1689928854250') format('woff2'),
       url('iconfont.woff?t=1689928854250') format('woff'),
       url('iconfont.ttf?t=1689928854250') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-play:before {
  content: "\e67a";
}

.icon-cart-add:before {
  content: "\e824";
}

.icon-cart-empty:before {
  content: "\e826";
}

.icon-editor-bold:before {
  content: "\e829";
}

.icon-format-gif:before {
  content: "\e82b";
}

.icon-down:before {
  content: "\e839";
}

.icon-close:before {
  content: "\e83a";
}

.icon-left-arrow:before {
  content: "\e83d";
}

.icon-selected:before {
  content: "\e840";
}

.icon-right-arrow:before {
  content: "\e841";
}

.icon-settings:before {
  content: "\e842";
}

