*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #78e08f;
  /* margin: 0; */
}
.container{
  width: 232px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  transform: translate(-50%,-50%);
  font-size: 0;
}
.ball{
  width: 100px;
  height: 100px;
  border: 8px solid #000;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  position: relative;
}
.face{
  width: 70px;
  height: 30px;
  /* border: 1px solid #000; */
  position: absolute;
  right: 0;
  top: 30px;
}
.eye{
  width: 15px;
  height: 14px;
  border-radius: 50%;
  border-bottom: 5px solid #000;
  position: absolute;
}
.eye-l{
  left: 10px;
}
.eye-r{
  right: 5px;
}
.mouth{
  width: 30px;
  height: 14px;
  border-bottom: 5px solid #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  transform: translate(3px);
  margin: 0 auto;
}
.face::before{
  content: '';
  width: 18px;
  height: 8px;
  background-color: #badc58;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: 20px;
}
.face::after{
  content: '';
  width: 18px;
  height: 8px;
  background-color: #badc58;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: 20px;
}

#l-ball{
  animation: close 4s ease infinite;
  z-index: 2;
}

@keyframes close {
  0%{
      transform: translate(0);
  }
  20%{
      transform: translate(20px);
  }
  35%{
      transform: translate(20px);
  }
  55%{
      transform: translate(0);
  }
  100%{
      transform: translate(0);
  }
}

.face-l{
  animation: face 4s ease infinite;
}

@keyframes face {
  0%{transform: translate(0) rotate(0)}
  10%{transform: translate(0) rotate(0)}
  20%{transform: translate(5px) rotate(-2deg)}
  28%{transform: translate(0px) rotate(0deg)}
  35%{transform: translate(5px) rotate(-2deg)}
  50%{transform: translate(0px) rotate(0deg)}
  100%{transform: translate(0px) rotate(0deg)}
}
.container .ball:last-child{
  position: absolute;
  right: 0;
}